/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Noto+Sans+Tamil:wght@800;900&family=Tiro+Tamil&display=swap');

html,body,#root,.app{
  height: 100%;
  width: 100%;
  /* font-family: 'Trio Tamil', sans-serif; */
  font-family: 'Kanit',sans-serif;
}